.month_grid{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 1rem);
    gap: 0.5rem;
    margin: 0.5rem;
}

.month_name{
    margin: 0.5rem;
}